h1{
color: white;
text-align: center;
}
li{
    background-color: white;
    padding: 5px;
    margin: 20px;
    text-align: center;
}
li:hover{
    background-color:blanchedalmond;
    cursor: grab;
}
.pouet{
    background-color: blue;
    width: 270px;
    height: 200px;
}
ul{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}